<nav class="fixed z-50 w-full h-12 nav-container bg-black">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-1">
    <a class="flex items-center space-x-1 rtl:space-x-reverse">
    <div class="nav-container-logo"></div>
    <span class="self-center text-lg md:text-3xl font-semibold whitespace-nowrap text-white">Llamatracker</span>
    </a>

    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
      <a routerLink="/auth">
        <div>Login 1</div>
      </a>
      <button data-collapse-toggle="navbar-cta" type="button"
              class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-300 rounded-lg md:hidden focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
              aria-controls="navbar-cta" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
      </button>
    </div>

    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-cta">
      <ul class="flex flex-row font-medium md:space-x-8 ">
        <div *ngFor="let route of routes">

          <div *ngIf="routes && !fragments" class="flex flex-row font-medium p-1 gap-7">
            <li class="content-center">
              <a [routerLink]=route.route
                 [class.active]="isRouteActive(route.route)"
                 class="block py-2 px-3 md:p-0 text-white">
                {{ route.label }}
              </a>
            </li>
          </div>

          <div *ngIf="routes && fragments" class="flex flex-row font-medium p-1 gap-7">
            <li class="content-center" *ngFor="let fragment of fragments">
              <a [routerLink]=route.route
                 [fragment]=fragment.route
                 [class.active]="isRouteActive(fragment.route)"
                 class="block py-2 px-3 md:p-0 text-white">
                {{ fragment.label }}
              </a>
            </li>
          </div>
        </div>


        <!--        <li>-->
<!--&lt;!&ndash;          <div class="flex md:hidden flex-row content-start gap-3">&ndash;&gt;-->
<!--&lt;!&ndash;            { lang !== 'en'&ndash;&gt;-->
<!--&lt;!&ndash;							? <div class="max-w-screen-xl flex flex-wrap items-center justify-between p-0">&ndash;&gt;-->
<!--&lt;!&ndash;								<a href={getRelativeLocaleUrl('en', '/')}>&ndash;&gt;-->
<!--&lt;!&ndash;									<div class="flex items-center md:order-2 space-x-1 md:space-x-0 rtl:space-x-reverse">&ndash;&gt;-->
<!--&lt;!&ndash;										<button type="button" data-dropdown-toggle="language-dropdown-menu" class="inline-flex items-center font-medium justify-center px-4 py-2 text-sm text-gray-900 dark:text-white rounded-lg cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white">&ndash;&gt;-->
<!--&lt;!&ndash;											<svg class="w-6 h-6 rounded-full me-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 3900 3900"><path fill="#b22234" d="M0 0h7410v3900H0z"/><path d="M0 450h7410m0 600H0m0 600h7410m0 600H0m0 600h7410m0 600H0" stroke="#fff" stroke-width="300"/><path fill="#3c3b6e" d="M0 0h2964v2100H0z"/><g fill="#fff"><g id="d"><g id="c"><g id="e"><g id="b"><path id="a" d="M247 90l70.534 217.082-184.66-134.164h228.253L176.466 307.082z"/><use xlink:href="#a" y="420"/><use xlink:href="#a" y="840"/><use xlink:href="#a" y="1260"/></g><use xlink:href="#a" y="1680"/></g><use xlink:href="#b" x="247" y="210"/></g><use xlink:href="#c" x="494"/></g><use xlink:href="#d" x="988"/><use xlink:href="#c" x="1976"/><use xlink:href="#e" x="2470"/></g></svg>&ndash;&gt;-->
<!--&lt;!&ndash;											&lt;!&ndash;English&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;										</button>&ndash;&gt;-->
<!--&lt;!&ndash;									</div>&ndash;&gt;-->
<!--&lt;!&ndash;								</a>&ndash;&gt;-->
<!--&lt;!&ndash;							</div>&ndash;&gt;-->
<!--&lt;!&ndash;							: null&ndash;&gt;-->
<!--&lt;!&ndash;            }&ndash;&gt;-->
<!--&lt;!&ndash;            { lang !== 'es'&ndash;&gt;-->
<!--&lt;!&ndash;							? <div class="max-w-screen-xl flex flex-wrap items-center justify-between p-0">&ndash;&gt;-->
<!--&lt;!&ndash;								<a href={getRelativeLocaleUrl('es', '/')}>&ndash;&gt;-->
<!--&lt;!&ndash;									<div class="flex items-center md:order-2 space-x-1 md:space-x-0 rtl:space-x-reverse">&ndash;&gt;-->
<!--&lt;!&ndash;										<button type="button" data-dropdown-toggle="language-dropdown-menu" class="inline-flex items-center font-medium justify-center px-4 py-2 text-sm text-gray-900 dark:text-white rounded-lg cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white">&ndash;&gt;-->
<!--&lt;!&ndash;											<svg class="w-6 h-6 rounded-full">&ndash;&gt;-->
<!--&lt;!&ndash;												<image xlink:href="https://flagicons.lipis.dev/flags/1x1/es.svg" class="w-6 h-6"/>&ndash;&gt;-->
<!--&lt;!&ndash;											</svg>&ndash;&gt;-->
<!--&lt;!&ndash;											&lt;!&ndash;España&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;										</button>&ndash;&gt;-->
<!--&lt;!&ndash;									</div>&ndash;&gt;-->
<!--&lt;!&ndash;								</a>&ndash;&gt;-->
<!--&lt;!&ndash;							</div>&ndash;&gt;-->
<!--&lt;!&ndash;							: null&ndash;&gt;-->
<!--&lt;!&ndash;            }&ndash;&gt;-->
<!--&lt;!&ndash;            { lang !== 'it'&ndash;&gt;-->
<!--&lt;!&ndash;							? <div class="max-w-screen-xl flex flex-wrap items-center justify-between p-0">&ndash;&gt;-->
<!--&lt;!&ndash;								<a href={getRelativeLocaleUrl('it', '/')}>&ndash;&gt;-->
<!--&lt;!&ndash;									<div class="flex items-center md:order-2 space-x-1 md:space-x-0 rtl:space-x-reverse">&ndash;&gt;-->
<!--&lt;!&ndash;										<button type="button" data-dropdown-toggle="language-dropdown-menu" class="inline-flex items-center font-medium justify-center px-4 py-2 text-sm text-gray-900 dark:text-white rounded-lg cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white">&ndash;&gt;-->
<!--&lt;!&ndash;											<svg class="w-6 h-6 rounded-full">&ndash;&gt;-->
<!--&lt;!&ndash;												<image xlink:href="https://flagicons.lipis.dev/flags/1x1/it.svg" class="w-6 h-6"/>&ndash;&gt;-->
<!--&lt;!&ndash;											</svg>&ndash;&gt;-->
<!--&lt;!&ndash;											&lt;!&ndash;Italia&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;										</button>&ndash;&gt;-->
<!--&lt;!&ndash;									</div>&ndash;&gt;-->
<!--&lt;!&ndash;								</a>&ndash;&gt;-->
<!--&lt;!&ndash;							</div>&ndash;&gt;-->
<!--&lt;!&ndash;							: null&ndash;&gt;-->
<!--&lt;!&ndash;            }&ndash;&gt;-->
<!--&lt;!&ndash;            { lang !== 'ca'&ndash;&gt;-->
<!--&lt;!&ndash;							? <div class="max-w-screen-xl flex flex-wrap items-center justify-between p-0">&ndash;&gt;-->
<!--&lt;!&ndash;								<a href={getRelativeLocaleUrl('ca', '/')}>&ndash;&gt;-->
<!--&lt;!&ndash;									<div class="flex items-center md:order-2 space-x-1 md:space-x-0 rtl:space-x-reverse">&ndash;&gt;-->
<!--&lt;!&ndash;										<button type="button" data-dropdown-toggle="language-dropdown-menu" class="inline-flex items-center font-medium justify-center px-4 py-2 text-sm text-gray-900 dark:text-white rounded-lg cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white">&ndash;&gt;-->
<!--&lt;!&ndash;											<svg class="w-6 h-6 rounded-full">&ndash;&gt;-->
<!--&lt;!&ndash;												<image xlink:href="https://flagicons.lipis.dev/flags/1x1/es-ct.svg" class="w-6 h-6"/>&ndash;&gt;-->
<!--&lt;!&ndash;											</svg>&ndash;&gt;-->
<!--&lt;!&ndash;											&lt;!&ndash;Catalan&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;										</button>&ndash;&gt;-->
<!--&lt;!&ndash;									</div>&ndash;&gt;-->
<!--&lt;!&ndash;								</a>&ndash;&gt;-->
<!--&lt;!&ndash;							</div>&ndash;&gt;-->
<!--&lt;!&ndash;							: null&ndash;&gt;-->
<!--&lt;!&ndash;            }&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->

<!--          <div class="hidden md:flex max-w-screen-xl flex-wrap items-center justify-between mx-auto p-0">-->
<!--            <div class="flex items-center md:order-2 space-x-1 md:space-x-0 rtl:space-x-reverse">-->
<!--              <button type="button" data-dropdown-toggle="language-dropdown-menu" class="inline-flex items-center font-medium justify-center px-4 py-2 text-sm text-gray-900 dark:text-white rounded-lg cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white">-->
<!--&lt;!&ndash;                <svg class="w-6 h-6 rounded-full">&ndash;&gt;-->
<!--&lt;!&ndash;                  <image xlink:href={"https://flagicons.lipis.dev/flags/1x1/"+flag[lang]+".svg"}  class="w-6 h-6"/>&ndash;&gt;-->
<!--&lt;!&ndash;                </svg>&ndash;&gt;-->
<!--              </button>-->
<!--              &lt;!&ndash; Dropdown &ndash;&gt;-->
<!--              <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700" id="language-dropdown-menu">-->
<!--&lt;!&ndash;                <ul class="py-2 font-medium" role="none">&ndash;&gt;-->
<!--&lt;!&ndash;                  { lang !== 'en'&ndash;&gt;-->
<!--&lt;!&ndash;										? <li>&ndash;&gt;-->
<!--&lt;!&ndash;											<a href={getRelativeLocaleUrl('en', '/')} class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">&ndash;&gt;-->
<!--&lt;!&ndash;												<div class="inline-flex items-center gap-3">&ndash;&gt;-->
<!--&lt;!&ndash;													<svg class="w-6 h-6 rounded-full">&ndash;&gt;-->
<!--&lt;!&ndash;														<image xlink:href='https://flagicons.lipis.dev/flags/1x1/us.svg' class="w-6 h-6"/>&ndash;&gt;-->
<!--&lt;!&ndash;													</svg>&ndash;&gt;-->
<!--&lt;!&ndash;                  {t("nav.menu.english")}&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </a>&ndash;&gt;-->
<!--&lt;!&ndash;              </li>&ndash;&gt;-->
<!--&lt;!&ndash;              : null&ndash;&gt;-->
<!--&lt;!&ndash;                  }&ndash;&gt;-->
<!--&lt;!&ndash;                  { lang !== 'es'&ndash;&gt;-->
<!--&lt;!&ndash;										? <li>&ndash;&gt;-->
<!--&lt;!&ndash;											<a href={getRelativeLocaleUrl('es', '/')} class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">&ndash;&gt;-->
<!--&lt;!&ndash;												<div class="inline-flex items-center gap-3">&ndash;&gt;-->
<!--&lt;!&ndash;													<svg class="w-6 h-6 rounded-full">&ndash;&gt;-->
<!--&lt;!&ndash;														<image xlink:href="https://flagicons.lipis.dev/flags/1x1/es.svg" class="w-6 h-6"/>&ndash;&gt;-->
<!--&lt;!&ndash;													</svg>&ndash;&gt;-->
<!--&lt;!&ndash;                  {t("nav.menu.spanish")}&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </a>&ndash;&gt;-->
<!--&lt;!&ndash;              </li>&ndash;&gt;-->
<!--&lt;!&ndash;              : null&ndash;&gt;-->
<!--&lt;!&ndash;                  }&ndash;&gt;-->
<!--&lt;!&ndash;                  { lang !== 'it'&ndash;&gt;-->
<!--&lt;!&ndash;										? <li>&ndash;&gt;-->
<!--&lt;!&ndash;											<a href={getRelativeLocaleUrl('it', '/')} class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">&ndash;&gt;-->
<!--&lt;!&ndash;												<div class="inline-flex items-center gap-3">&ndash;&gt;-->
<!--&lt;!&ndash;													<svg class="w-6 h-6 rounded-full">&ndash;&gt;-->
<!--&lt;!&ndash;														<image xlink:href="https://flagicons.lipis.dev/flags/1x1/it.svg" class="w-6 h-6"/>&ndash;&gt;-->
<!--&lt;!&ndash;													</svg>&ndash;&gt;-->
<!--&lt;!&ndash;                  {t("nav.menu.italian")}&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </a>&ndash;&gt;-->
<!--&lt;!&ndash;              </li>&ndash;&gt;-->
<!--&lt;!&ndash;              : null&ndash;&gt;-->
<!--&lt;!&ndash;                  }&ndash;&gt;-->
<!--&lt;!&ndash;                  { lang !== 'ca'&ndash;&gt;-->
<!--&lt;!&ndash;										? <li>&ndash;&gt;-->
<!--&lt;!&ndash;											<a href={getRelativeLocaleUrl('ca', '/')} class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">&ndash;&gt;-->
<!--&lt;!&ndash;												<div class="inline-flex items-center gap-3">&ndash;&gt;-->
<!--&lt;!&ndash;													<svg class="w-6 h-6 rounded-full">&ndash;&gt;-->
<!--&lt;!&ndash;														<image xlink:href="https://flagicons.lipis.dev/flags/1x1/es-ct.svg" class="w-6 h-6"/>&ndash;&gt;-->
<!--&lt;!&ndash;													</svg>&ndash;&gt;-->
<!--&lt;!&ndash;                  {t("nav.menu.catalan")}&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </a>&ndash;&gt;-->
<!--&lt;!&ndash;              </li>&ndash;&gt;-->
<!--&lt;!&ndash;              : null&ndash;&gt;-->
<!--&lt;!&ndash;                  }&ndash;&gt;-->
<!--&lt;!&ndash;                </ul>&ndash;&gt;-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </li>-->
      </ul>
    </div>
  </div>
</nav>
